<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CADImageViewerTests.Properties.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CADImageViewerTests.Properties.TestSettings>
            <setting name="hostname" serializeAs="String">
                <value>http://10.0.0.26:5000/</value>
            </setting>
        </CADImageViewerTests.Properties.TestSettings>
    </applicationSettings>
</configuration>